<%- include('./header.ejs') %>

<div class="container my-4">
    <% if (error==true) { %>
        <div class="alert alert-danger" role="alert">
            Error: Invalid article image. Upload a valid image (PNG,JPG,JPEG)
          </div>
    <% } %>
    <form action="/confirmAdd" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label class="text-white h6">Article Image</label>
            <input type="file" class="form-control" name="imageAdd" placeholder="add image here">
        </div>
        <div class="form-group">
            <label class="text-white h6">Article Title</label>
            <input type="text" class="form-control" name="title" placeholder="add title here">
        </div>
        <div class="form-group">
            <label class="text-white h6">Article Post</label>
            <textarea class="form-control" rows="10" name="post" type="textarea" placeholder="write the artcile post here ..."></textarea>
        </div>
        <button class="btn btn-info btn-lg btn-block" type="submit">Add</button>
    </form>
</div>

    

<%- include('./footer.ejs') %> 